@import './colors';
@import './typography';

// ==============================================
// Element Modifiers Start ===================
// ==============================================

body {
  background-color: $primary;
  padding: 0 0 10%;
  text-align: center;
}

h1 {
  clear: both;
  color: $secondary;
  font-family: $header-font;
  font-size: 55px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

h2 {
  color: $secondary;
  font-family: 'Dosis';
  font-size: 36px;
  font-style: italic;
  font-weight: bold;
  margin: 0 10px;
  text-align: center;
}

h3 {
  color: $black;
  font-family: 'Dosis';
  font-size: 24px;
  text-align: center;
}

h4 {
  color: $black;
  font-size: 24px;
}

ul {
  display: block;
  display: inline;
  list-style-type: none;
}

// ==============================================
//  =================== Element Modifiers End
// ==============================================

// ==============================================
// Containers Start ==========================
// ==============================================

#header-container {
  background-color: $white;
  border: 5px solid $primary;
  border-radius: 20px;
  margin: 208px auto 0;
  padding-bottom: 10px;
  width: 80%;
}

#user-action-container {
  background-color: $secondary;
  border: 5px solid $white;
  border-radius: 20px;
  margin: 0 auto;
  position: fixed;
  width: 95%;
  z-index: 1;
}

#landing-image {
  border: 20px solid $tertiary;
  border-radius: 10px;
  margin-bottom: 35px;
  width: 100%;
}

.container-fluid {
  text-align: center;
}

#productContainer {
  text-align: center;
  // background-color: $white;
}

#cartContainer {
  height: 200px;
  overflow: scroll;
}

// ==============================================
// ========================== Containers End
// ==============================================

// ==============================================
// Product Thumbnail Start ==================
// ==============================================

.productBorder {
  background-color: $white;
  border: 5px solid $secondary;
  border-radius: 10px;
  margin: 20px;
}

.productTitle {
  color: $primary;
  font-size: 20px;
  font-weight: bold;
}

.product-image {
  height: 60px;
  width: 60px;
}

.productListed {
  border: 3px solid $primary;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

.productPrice {
  background-color: $white;
  border: 3px solid $secondary;
  border-radius: 60%;
  color: $primary;
  font-size: 18px;
  font-weight: bold;
  margin: 25px auto;
  width: 60%;
}

#add-to-cart-btn {
  background-color: $secondary;
  border: 3px solid $tertiary;
  border-radius: 10px;
  color: $white;
  margin-bottom: 10px;
  width: 10em;
}

#add-to-cart-btn:hover {
  background-color: $primary;
  border: 3px solid $secondary;
  border-radius: 10px;
  margin-bottom: 10px;
}

// ==============================================
// ==================  Product Thumbnail End
// ==============================================

// ==============================================
// User Interactions Start ==================
// ==============================================

#shopBtn {
  background-color: $primary;
  border: 0;
  margin-bottom: 10px;
}

.btn-success {
  background-color: $primary;
  border: 0;
  border-radius: 20px;
  color: $white;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px;
}

.navbar {
  background-color: $secondary;
  border: 0;
  margin-top: 10px;
}

#productList {
  text-align: center;
}

// ==============================================
// ==================  User Interactions End
// ==============================================

// ==============================================
//  Footer Start ===========================
// ==============================================

#gitLogo {
  border: 3px solid $white;
  border-radius: 10px;
  height: 35px;
  margin: 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
  width: 35px;
}

.footer {
  background-color: $secondary;
}

.name {
  font-weight: 700;
  color: #B22222;
  margin: 0;
  padding: 0;
}

// ==============================================
// ===========================   Footer End
// ==============================================
