@import './colors';
@import './typography';

.container-fluid {
  text-align: center;
}

.product-image {
  height: 60px;
  width: 60px;
}

body {
  background-color: $primary;
  padding: 0 0 10%;
  text-align: center;
}

ul {
  list-style-type: none;
  display: block;
  display: inline;
}

#header-container {
  background-color: $white;
  border-radius: 20px;
  padding-bottom: 10px;
  border: 5px solid $primary;
  margin: 208px auto 0;
  width: 80%;
}

#user-action-container {
  background-color: $secondary;
  border-radius: 20px;
  // padding-bottom: 10px;
  // margin-bottom: 15px;
  // padding-top: 10px;
  margin: 0 auto;
  border: 5px solid $white;
  position: fixed;
  width: 95%;
  z-index: 1;

}

#shopBtn {
  background-color: $primary;
  border: none;
  margin-bottom: 10px;
}

#landing-image {
  border-radius: 10px;
  border: 20px solid $tertiary;
  margin-bottom: 35px;
  width: 100%;
}

.btn-success {
  background-color: $primary;
  color: $white;
  border-radius: 20px;
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
  font-weight: bold;

}

.navbar {
  background-color: $secondary;
  border: 0;
  margin-top: 10px;
}

h1 {
  font-family: $header-font;
  font-size: 55px;
  text-align: center;
  color: $secondary;
  clear: both;
  margin-top: 10px;
  font-weight: bold;
}

h2 {
  font-family: "Dosis";
  font-size: 36px;
  color: $secondary;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin: 0 10px;
}

h3 {
  font-family: "Dosis";
  font-size: 24px;
  color: #10621e;
  text-align: center;
}

h4 {
  font-size: 24px;
  color: $blue;

}

/* Footer */

// i {
//   color: #B22222;
//   margin: 0;
//   padding: 2% 0;
// }

.footer {
  background-color: $secondary;
}

.name {
  font-weight: 700;
  color: #B22222;
}

.productListed {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 3px solid $primary;
}

.productBorder {
  border: 5px solid $secondary;
  background-color: $white;
  margin: 20px;
  border-radius: 10px;
}

.productTitle {
  color: $primary;
  font-weight: bold;
  // text-shadow: 2px 2px $black;
  font-size: 20px;
}

.productPrice {
  margin: 25px auto;
  color: $primary;
  font-weight: bold;
  font-size: 18px;
  width: 60%;
  background-color: $white;
  border-radius: 60%;
  border: 3px solid $secondary;
}

#cartBtn {
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: $secondary;
  border: 3px solid $tertiary;
  color: $white;
  width: 10em;
}

#cartBtn:hover {
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: $primary;
  border: 3px solid $secondary;
}


#productList {
  text-align: center;
}

#productContainer {
  text-align: center;
  // background-color: $white;
}
